.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0.1rem;
    background-color: white;
  }
  .logo-parent {
    display: flex;
    align-items: center;
  }
  .navbar-logo {
    width: 3.5rem;
  }
  .navbar-title {
    font-weight: 600;
  }
  .navbar-icon {
    font-size: 26px;
    padding-right: 13px;
  }
  .navbar-list {
    display: flex;
    align-items: center;
  }
  .navbar-list-content {
    cursor: pointer;
    color: black;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
  }
  #myElement {
    display: none;
  }
  #myElement a {
    text-decoration: none;
    color: black;
  }
  #myElement a:hover {
    color: rgba(120, 67, 233, 2);
  }
  .navbar-list-content a {
    padding: 1rem;
  }
  .navbar-list-content a:hover {
    background-color: rgba(120, 67, 233, 2);
  }
  @media (min-width: 760px) {
    .navbar-container {
      padding: 0.7rem 0.5rem;
    }
    .navbar-icon-parent {
      display: none;
    }
    #myElement {
      display: block;
      gap: 2rem;
      cursor: pointer;
      display: flex;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      flex-direction: row;
      margin-right: 25px;
    }
  }
  @media (min-width: 940px) {
    .navbar-container {
      padding: 0.8rem 2rem;
    }
    .navbar-logo {
      width: 5rem;
    }
    .navbar-title {
      font-size: 18px;
      font-weight: 600;
    }
    #myElement {
      font-size: 15px;
    }
    #myElement a {
      padding: 1rem;
    }
  }
  