.project-container {
  background-color: rgb(250, 250, 250);
}
.project-title {
  font-size: 33px;
  font-weight: 690;
  letter-spacing: 3px;
  text-align: center;
  max-height: 20px;
}
.line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line {
  border: 2px solid rgb(120, 67, 232);
  background-color: rgb(120, 67, 232);
  max-width: 250px;
  width: 100%;
  height: 2px;
}
.project-subtitle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-subtitle {
  padding: 0 1rem 1rem 1rem;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 800px;
}
