.contact-btn {
  background: #7843e9;
  padding: 0.9rem 2.4rem;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 800;
  margin: 0rem 0rem 1rem 1rem;
  border: none;
  transition: transform 0.3s;
}
.contact-btn:hover {
  transform: translatey(-3px);
  background: #682cea;
}
.project-btn {
  background: #7843e9;
  height: 55px;
  width: 225px;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  text-transform: uppercase;
  transition: transform 0.3s;
}
.project-btn:hover {
  transform: translatey(-3px);
  background: #682cea;
}
.casestudy-btn {
  background: #7843e9;
  padding: 1rem 2.4rem;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  transition: transform 0.3s;
}
.casestudy-btn:hover {
  transform: translatey(-3px);
  background: #682cea;
}
.live-btn {
  background: #7843e9;
  padding: 0.9rem 3.4rem;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 800;
  border: none;
  transition: transform 0.3s;
}
.live-btn:hover {
  transform: translatey(-3px);
  background: #682cea;
}
.back-btn {
  background: transparent;
  color: black;
  border: 2px solid #7843e9;
  padding: 0.9rem 3.5rem;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 800;
  transition: transform 0.3s;
}
.back-btn:hover {
  transform: translatey(-3px);
}
@media (min-width: 760px) {
  .contact-btn {
    padding: 1.1rem 2.2rem;
    font-size: 15px;
  }
  .project-btn {
    font-size: 14px;
    font-weight: 780;
    height: 50px;
    width: 210px;
    letter-spacing: 0;
  }
  .project-btn:hover {
    transform: translatey(-5px);
  }
  .casestudy-btn {
    margin-left: 15px;
    font-size: 12px;

    padding: 0.9rem 2.1rem;
  }
  .live-btn {
    padding: 1.1rem 2.9rem;
  }
  .back-btn {
    padding: 1rem 3rem;
  }
}
