.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.home-content {
  margin-top: 200px;
}
.name-items {
  height: 120px;
  width: 300px;
  font-size: 35px;
  font-weight: 790;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  font-family: "Gill Sans", sans-serif;
  margin-left: 15px;
}
.home-items {
  text-align: center;
  height: 150px;
  width: 330px;
  line-height: 29px;
  font-family: "Gill Sans", sans-serif;
}
@media (min-width: 760px) {
  .home-container{
  height: 105vh;

  }
  .name-items {
    width: 900px;
    height: 100px;
    font-size: 55px;
    margin-top: 80px;
    letter-spacing: 3px;
  }
  .home-items {
    width: 750px;
    height: 110px;
    margin-left: 90px;
    font-size: 20px;
  }
}
