.home-container {
  height: 105vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
}
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.name-items {
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
  font-family: "Gill Sans", sans-serif;
}
.home-items {
  text-align: center;
  line-height: 30px;
  font-family: "Gill Sans", sans-serif;
  padding: 1rem;
}
.social-links {
  display: none;
}
@media (min-width: 760px) {
  .name-items {
    font-size: 60px;
    padding-top: 40px;
  }
  .home-items {
    font-size: 22px;
    width: 100%;
    max-width: 780px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .mouse-con {
    position: absolute;
    bottom: 15px;
  }
  .mouse {
    width: 25px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
  }
  .mouse::before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
  }
  @keyframes wheel {
    to {
      opacity: 0;
      top: 27px;
    }
  }

  @-webkit-keyframes wheel {
    to {
      opacity: 0;
      top: 27px;
    }
  }
}
@media (min-width: 940px) {
  .social-links {
    width: 60px;
    height: 293px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
  }
  .social-links > a > img {
    padding: 0.7rem;
    height: 30px;
    width: 30px;
  }
  .social-links > a > img:hover {
    background-color: rgba(120, 67, 233, 0.2);
    transition: background 0.3s;
    cursor: pointer;
    border-radius: 5px;
  }
}
